@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="box1">
        <h2>Gestion des clients</h2>
        <p>Dernier client ajouté/modifié: Jean Thil</p>
        <a class="button" href="#"> + Ajouter un nouveau client</a>
    </div>
</section>


<h3>Gestion des clients</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mark Zoukerbergue</td>
        <td>mark@gmail.com</td>
        <td>
            <a href=""><i class="fas fa-edit"></i></a> <a href=""><i class="fas fa-times"></i></a></i>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jean Thil</td>
        <td>jeanh@domain.com</td>
        <td>
            <a href=""><i class="fas fa-edit"></i></a> <a href=""><i class="fas fa-times"></i></a></i>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Jessie Aboard</td>
        <td>jaboard@domain.com</td>
        <td>
            <a href=""><i class="fas fa-edit"></i></a> <a href=""><i class="fas fa-times"></i></a></i>
        </td>
    </tr>
</table>

<h3>Informations</h3>
<p>Largeur max du conteneur: 960px;</p>
<p>Police de caracteres (font): Verdana, Geneva, Tahoma, sans-serif</p>

<h3>Couleurs</h3>
<section class="color">
    <div class="couleurs noir">Noir : #111</div>
    <div class="couleurs gris1">Gris (1) : #FAF7F5</div>
    <div class="couleurs gris2">Gris (2) : #45505E</div>
</section>

<section class="color">
    <div class="couleurs vert">Vert : #38DD09</div>
    <div class="couleurs violet">Violet (survol des boutons) : #3809DD</div>
</section>


<section class="liens">
    <a href="#">Ajouter</a>
    <span class="point">.</span>
    <a href="#">Quelques</a>
    <span class="point">.</span>
    <a href="#">Liens</a>
    <span class="point">.</span>
    <a href="#">De votre choix</a>
    <span class="point">.</span>
    <a href="#">Un autre lien</a>
</section>
