<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/1df9e1fae9.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - Legumes</title>
</head>

<body>
    <header>

        <img src="legumos.jpg" alt="Visiofactory">
        <nav>
            <ul>
                <li class="first"><a href="#">VENTES</a> </li>
                <li class="second"><a href="#">NOUVELLE VENTE</a></li>
                <li class="second"><a href="#">LEGUMES</a></li>
                <li class="first"><a href="#">NOUVEAU LEGUMES</a></li>
            </ul>
        </nav>


    </header>

    <div class="container">

        <h1>Liste des ventes</h1>

        <main role="main">


            <div class="box">
                <h2>CHOU FRISE</h2>
                <h2>(15KGS)</h2>
                <p>03/02/2020</p>
            </div>

            <div class="box">
                <h2>CHOU FRISE</h2>
                <h2>(15KGS)</h2>
                <p>03/02/2020</p>
            </div>


            <div class="box">
                <h2>CHOU FRISE</h2>
                <h2>(15KGS)</h2>
                <p>03/02/2020</p>
            </div class="box">

            <div class="box">
                <h2>CHOU FRISE</h2>
                <h2>(15KGS)</h2>
                <p>03/02/2020</p>
            </div>


            <div class="box">
                <h2>CHOU FRISE</h2>
                <h2>(15KGS)</h2>
                <p>03/02/2020</p>
            </div>


            <!--- @RenderBody() -->
        </main>

    </div>


    <footer><i class="far fa-copyright"></i> Copyright 2021 | ECF_LEGUMOS_RAVANDOUST</footer>
</body>

</html>