* {
    box-sizing: border-box;
}

body {
    background-color: #faf7f5;
}

.container {
    background-color: white;
    border: solid 1px #dcd9d7;
    border-radius: 10px;
    margin: auto;
    width: 960px;
    min-height: 800px;
}

#logo {
    width: 20%;
    float: left;
    margin-left: 10px;
}

.headlink {
    float: right;
    text-decoration: none;
    margin: 15px 5px;
    border: solid 1px #dcd9d7;
    padding: 5px 9px;
}

.headlink a {
    text-decoration: none;
}