* {
    box-sizing: border-box;
}

body {
    background-color: #faf7f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 960px;
    height: auto;
    background-color: white;
    border: solid 1px #dcd9d7;
    border-radius: 10px;
    margin: auto;
}

header {
    width: 100%;
    height: 80px;
}

#logo {
    width: 18%;
    float: left;
    margin: 14px 17px;
}

.headlink {
    float: right;
    text-decoration: none;
    margin: 22px 5px;
    border: solid 0.13rem #dcd9d7;
    padding: 6px 14px;
    border-radius: 3px;
    font-size: 16px;
}

.headlink:hover {
    background-color: #3809DD;
    color: white;
    border-radius: 2px;
    border: solid 0.13rem #3809DD;
}

.mission {
    color: #45505E;
}

.devis {
    border-color: #236E0D;
    background-color: #38DD09;
    color: white;
    margin-right: 20px;
}

.box1 {
    text-align: center;
    font-size: 18px;
    color: #45505E;
    margin-bottom: 60px;
}

.box1 p {
    margin-bottom: 40px;
}

h2 {
    margin: auto;
    font-size: 42px;
    color: #45505E;
    font-weight: normal;
    text-align: center;
}

h3 {
    margin: auto;
    font-size: 40px;
    color: #45505E;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.button {
    font-size: 14px;
    font-weight: 700;
    color: #45505E;
    text-align: center;
    border: solid 0.1rem #dcd9d7;
    padding: 6px 14px;
    border-radius: 2px;
    text-decoration: none;
}

.button:hover {
    background-color: #3809DD;
    color: white;
    border-radius: 2px;
    border: solid 0.1rem #3809DD;
}

table {
    border: solid 2px #111;
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    background-color: #FAF7F5;
}

table tr td {
    padding: 5px;
}

table tr th {
    background-color: #111;
    color: white;
    text-align: left;
    border: solid 2px #111;
    padding: 5px;
}

.fa-times {
    color: rgb(128, 11, 11);
    margin-left: 15px;
}

.fa-edit {
    color: #38DD09;
}

p {
    margin-left: 20px;
    line-height: 0px;
}

.color {
    margin-left: 15px;
    margin-top: 12px;
    display: inline-block;
}

.couleurs {
    border: solid 0.1rem #45505e;
    padding: 6px 14px;
    margin-left: 5px;
    float: left;
}

.noir {
    background-color: #111;
    color: white;
}

.gris1 {
    color: #45505e;
}

.gris2 {
    background-color: #45505e;
    color: white;
}

.vert {
    background-color: #38DD09;
    color: white;
}

.violet {
    background-color: #3809DD;
    color: white;
}

.liens {
    text-align: center;
    width: 100%;
    height: 90px;
    background-color: #EBEFF2;
    line-height: 90px;
    margin-top: 60px;
}

.liens a {
    text-decoration: none;
    color: #454545;
    font-size: 14px;
    font-weight: bold;
}

.point {
    margin-top: -15px;
    line-height: 0px;
    color: #454545;
    font-size: 25px;
}

.point1 {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

footer {
    background-color: #454545;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer p {
    margin: 0px;
    background-color: #454545;
    color: white;
    font-size: 12px;
}