@media screen and (min-width: 200px) and (max-width: 635px) {
    .text {
        margin-top: 2px !important;
    }
    .text :first-child {
        margin-top: 2px !important;
        text-align: center;
    }
    .text {
        text-align: center;
    }
    .hdr {
        align-content: center !important;
    }
    .btn-login {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1220px) {
    .nav-top {
        width: 180px !important;
    }
}

@media screen and (min-width: 426px) and (max-width: 1220px) {
    .xx {
        width: 100% !important;
    }
    .xxx {
        width: 450px !important;
    }
    .rond {
        margin: auto;
    }
}

@media screen and (min-width: 200px) and (max-width: 992px) {
    .navbar-nav {
        background-color: #ec9962;
    }
    .navbar-nav>li {
        border-top: 1px solid #C2237A;
        transition: .2s ease-in-out all;
    }
    .navbar-nav>li>a {
        color: white !important;
    }
    .navbar-nav>li:hover {
        background-color: #ED7D31 !important;
        transition: .2s ease-in-out all;
    }
    .btn-login {
        font-size: 12px !important;
    }
    .nav-bar.container {
        width: 100% !important;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    margin-left: 10px;
    float: left;
}

.logo img {
    height: 115px;
    float: left;
    margin: 5px 5px 0px 15px;
}

.text {
    float: left;
    font: 16px 'Oxygen', sans-serif;
    font-weight: 650;
    color: #C2237A;
    margin-top: 34px;
}

.text p {
    margin: -2px 0 0 0;
}

.text :first-child {
    color: black;
    margin-top: 32px;
}

#login-form {
    width: 47rem;
    margin: auto;
    padding: 20px 5px;
}

.btn-login {
    border-radius: 0px !important;
    /*background-color: #C2237A !important;*/
    padding: 12px 20px !important;
    width: 140px;
    margin-right: 40px;
    margin-top: 20px;
}

.btn-bg {
    /*background-color: #C2237A !important;*/
    box-shadow: none !important;
    color: white !important;
    font-size: 22px !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    z-index: 2;
}

.button-bg {
    width: 264px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.form-label {
    background-color: white !important;
    z-index: 999;
    margin-top: 1.5px !important;
    padding: 0px 3px;
}

.navbar-brand p {
    margin: 0px;
    line-height: 1;
}

.navbar {
    border-top: 3px solid #ED7D31 !important;
    /* background-color: #C2237A; */
}

.nav-top-height {
    padding: 0px !important;
    margin-top: 15px;
}

.nav-top {
    width: 200px;
    text-align: center;
    transition: .3s ease-in-out all !important;
    color: rgb(34, 37, 37) !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 27px !important;
    color: #C2237A !important;
    padding: 5px 10px !important;
}

.nav-top:hover {
    background-color: #ED7D31;
    color: white !important;
    transition: .3s ease-in-out all !important;
}

.img-top {
    padding: 0 10px !important;
    background: rgb(173, 167, 173);
    background: linear-gradient(90deg, rgba(173, 167, 173, 1) 0%, rgba(230, 230, 242, 1) 46%, rgba(167, 168, 172, 1) 100%);
}

.top-titr {
    background-color: #ED7D31;
    color: white !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 15px 0;
}

.top-titr h3 {
    margin-top: 20px;
}

.activity {
    border: 15px solid #03989E;
    padding: 0px !important;
    position: relative;
}

.activity-card {
    margin: 1px !important;
}

.activity-header {
    position: absolute;
    right: 0;
    margin-top: -25px !important;
    padding: 4px 35px;
    background-color: #03989E;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    z-index: 1;
}

.rond {
    border: 2px solid #04989E;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    padding: 30px 20px 0 20px;
    color: white;
    background-color: #00C2CB;
}


/* ================ Partenaire ======================*/

.partenaires {
    position: relative;
    z-index: 999;
    margin-top: 100px;
    margin-bottom: 65px;
    background-color: #EFF2F6;
    margin-top: 200px;
    padding: 50px 0;
}

.card2 {
    margin-top: 150px;
}


/* ================ Statestique ======================*/

.second {
    width: 100%;
    background-color: #EFF2F6;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%);
    margin-top: 100px;
    padding: 50px 0;
}

.second-item {
    margin-top: 0px;
}

.statistiques {
    position: relative;
    z-index: 999;
    margin-top: 100px;
    background-color: #EFF2F6;
}

.stat-contenu {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.items {
    color: #C2237A;
    text-align: center;
}

.items p {
    font-size: 18px;
}

.items img {
    height: 100px;
}

.mcard {
    background-color: #C2237A !important;
}


/* ====================== footer ====================*/

footer {
    margin-top: 120px;
}

.bg {
    background-color: #EFF2F6 !important;
    /*          #009484    */
}

.reseau li {
    text-align: center;
}

.reseau li a {
    font-size: 28px;
    color: rgb(68, 65, 65);
}

.plan li a {
    color: rgb(68, 65, 65);
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: .3s ease-in-out all !important;
}

.dropdown-content {
    transition: .3s ease-in-out all !important;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li a {
    display: block;
    transition: .3s ease-in-out all !important;
    padding: 10px 15px 10px 50px;
}

.dropdown-content li a:hover {
    color: white !important;
    transition: .3s ease-in-out all !important;
}

.dropdown-content li {
    list-style: none;
    margin-left: -32px;
    transition: .3s ease-in-out all !important;
}

.dropdown-content li:hover {
    background-color: #ED7D31;
}

.dropdown-content p {
    margin-top: 0px;
}

.dropdown:hover .dropdown-content {
    transition: .3s ease-in-out all !important;
    display: block;
}